# Sample Database Code

Steal this code.

The TIdatabase module encapsulates all of the loading, storing and joining of the student, college and applications.

The module should be imported at the beginning of your code, whether it is a regular Python file or an iPython Notebook.

In [1]:
import TIdatabase as ti
import pandas as pd

## Generating Mock Data

In [2]:

students = ti.Student()
# populate students with random values
students.fillRandom(10)
students.df

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,female,MinorityGender,MinorityRace,outofstate,international,firstinfamily,alumni,sports,artist,workexp
0,T8Q581WXGS,0.392022,0.715198,0.506445,0.280456,0.197948,0.810590,3,5,2015,...,-1,-1,0,-1,1,-1,1,-1,-1,1
1,APLENC53P6,0.801889,0.206231,0.768144,0.400602,0.754447,0.707255,3,5,2012,...,1,1,1,0,-1,1,1,-1,1,-1
2,ARR8NLHKJW,0.811433,0.544119,0.257622,0.475218,0.795651,0.658477,5,4,2013,...,-1,-1,-1,1,1,-1,1,-1,1,0
3,MDZ8EBLWGG,0.845619,0.190712,0.738601,0.929038,0.304668,0.672305,1,3,2012,...,0,1,0,0,0,-1,0,-1,-1,-1
4,0IMHORYXZ4,0.953349,0.220145,0.096051,0.296511,0.511960,0.949135,1,3,2020,...,1,-1,1,-1,1,0,0,-1,-1,-1
5,H6VD7DH6R6,0.419729,0.691993,0.192331,0.187524,0.659573,0.470842,5,2,2015,...,1,-1,-1,1,1,-1,0,1,-1,1
6,5IXE2VLAV0,0.655043,0.178541,0.653152,0.589096,0.587569,0.655082,4,3,2018,...,0,1,-1,0,0,0,1,0,0,-1
7,8VO2J9FVQN,0.345988,0.504925,0.869777,0.562342,0.117785,0.640290,2,4,2015,...,-1,0,0,-1,-1,1,-1,0,1,-1
8,OUP7YKO5FR,0.114614,0.784382,0.383816,0.037581,0.648166,0.013183,1,2,2017,...,0,0,-1,0,-1,0,-1,1,0,0
9,XCF6MY6P5G,0.683323,0.458910,0.783342,0.219892,0.113095,0.101761,5,4,2013,...,1,1,1,-1,1,1,1,1,1,0

The list of colleges is populated from a CSV stored in the same directory as this notebook. It can be edited using your favorite CSV editor, such as Excel. When you create a new instance of College, the values will be read in from the CSV

In [3]:
# populate with list of known colleges
colleges = ti.College()
colleges.df

,collegeID,name,acceptrate,size,public,finAidPct,instatePct
0,Princeton,Princeton,7.40%,5142,-1,0.00,0
1,Harvard,Harvard,6.00%,19929,-1,0.75,0
2,Yale,Yale,6.30%,12336,-1,0.00,0
3,Columbia,Columbia,7.00%,24221,-1,0.00,0
4,Stanford,Stanford,5.10%,16795,-1,0.00,0
5,UChicago,UChicago,8.80%,12558,-1,0.00,0
6,MIT,MIT,7.90%,11319,-1,0.00,0
7,Duke,Duke,11.40%,15856,-1,0.00,0
8,UPenn,UPenn,10.40%,21296,-1,0.00,0
9,CalTech,CalTech,8.80%,2209,-1,0.00,0
10,JohnsHopkins,JohnsHopkins,15.00%,21484,-1,0.00,0
11,Dartmouth,Dartmouth,11.50%,6298,-1,0.00,0
12,Northwestern,Northwestern,13.10%,20336,-1,0.00,0
13,Brown,Brown,8.70%,9181,-1,0.00,0
14,Cornell,Cornell,14.20%,21850,-1,0.00,0
15,Vanderbilt,Vanderbilt,13.10%,12686,-1,0.00,0
16,WashU,WashU,17.10%,14348,-1,0.00,0
17,Rice,Rice,15.10%,6621,-1,0.00,0
18,NotreDame,NotreDame,21.10%,12179,-1,0.00,0
19,UCB,UCB,16.00%,37581,1,0.66,0
20,Emory,Emory,26.80%,14769,-1,0.00,0
21,Georgetown,Georgetown,17.40%,17858,-1,0.00,0
22,CarnegieMellon,CarnegieMellon,24.60%,13285,-1,0.00,0
23,UCLA,UCLA,18.60%,43239,1,0.00,0
24,USC,USC,18.00%,42469,1,0.00,0

This is the table of application forms. "acceptStatus" is our predictor. "acceptProb" is our $\hat{Y}$ probability.

In [4]:
applForm = ti.ApplForm()
applForm.fillRandom(30)
applForm.df

     studentID       collegeID  earlyAppl  visited  acceptStatus  acceptProb
0   T8Q581WXGS            Yale          0        1             0    0.111420
1   8VO2J9FVQN             UCB          1        1             1    0.992283
2   OUP7YKO5FR            Yale          0        1             1    0.664471
3   0IMHORYXZ4         Harvard          0        1             1    0.720778
4   ARR8NLHKJW         CalTech          0        0            -1    0.779100
5   8VO2J9FVQN       Dartmouth          0        1            -1    0.007451
6   XCF6MY6P5G            Rice          0       -1             1    0.049638
7   5IXE2VLAV0        UChicago          1        0             1    0.089653
8   T8Q581WXGS           WashU         -1        1             1    0.112894
9   OUP7YKO5FR        Columbia         -1        1            -1    0.117510
10  MDZ8EBLWGG            Rice          1        0            -1    0.855454
11  0IMHORYXZ4  CarnegieMellon         -1        1            -1    0.924204
12  8VO2J9FVQN           WashU         -1        0             1    0.855862
13  T8Q581WXGS         Harvard          1       -1            -1    0.342887
14  ARR8NLHKJW            UCLA          1        1             1    0.462263
15  MDZ8EBLWGG        UChicago         -1       -1             1    0.452766
16  APLENC53P6      Vanderbilt          0        0            -1    0.822266
17  MDZ8EBLWGG       NotreDame          0        1            -1    0.663733
18  5IXE2VLAV0             UCB         -1       -1            -1    0.441222
19  APLENC53P6    JohnsHopkins          1        0            -1    0.308540
20  APLENC53P6       NotreDame          0        0            -1    0.832230
21  XCF6MY6P5G       Princeton         -1        1             1    0.560529
22  APLENC53P6    Northwestern          1        0             0    0.753457
23  0IMHORYXZ4           Emory          1        1             0    0.577101
24  5IXE2VLAV0           WashU          0       -1             0    0.683628
25  T8Q581WXGS    JohnsHopkins          1        1             0    0.763179
26  XCF6MY6P5G             USC          0       -1             1    0.548366
27  T8Q581WXGS             MIT          1       -1             0    0.392383
28  ARR8NLHKJW    Northwestern          0       -1            -1    0.767149
29  XCF6MY6P5G             MIT          1       -1             0    0.698292

To combine the student and application forms tables, use Pandas merge capability, which will match rows by identical column names, which studentID in this case:

In [5]:
applications = pd.merge(students.df,applForm.df)
applications

,studentID,classrank,admissionstest,AP,averageAP,SATsubject,GPA,program,schooltype,intendedgradyear,...,firstinfamily,alumni,sports,artist,workexp,collegeID,earlyAppl,visited,acceptStatus,acceptProb
0,T8Q581WXGS,0.392022,0.715198,0.506445,0.280456,0.197948,0.810590,3,5,2015,...,-1,1,-1,-1,1,Yale,0,1,0,0.111420
1,T8Q581WXGS,0.392022,0.715198,0.506445,0.280456,0.197948,0.810590,3,5,2015,...,-1,1,-1,-1,1,WashU,-1,1,1,0.112894
2,T8Q581WXGS,0.392022,0.715198,0.506445,0.280456,0.197948,0.810590,3,5,2015,...,-1,1,-1,-1,1,Harvard,1,-1,-1,0.342887
3,T8Q581WXGS,0.392022,0.715198,0.506445,0.280456,0.197948,0.810590,3,5,2015,...,-1,1,-1,-1,1,JohnsHopkins,1,1,0,0.763179
4,T8Q581WXGS,0.392022,0.715198,0.506445,0.280456,0.197948,0.810590,3,5,2015,...,-1,1,-1,-1,1,MIT,1,-1,0,0.392383
5,APLENC53P6,0.801889,0.206231,0.768144,0.400602,0.754447,0.707255,3,5,2012,...,1,1,-1,1,-1,Vanderbilt,0,0,-1,0.822266
6,APLENC53P6,0.801889,0.206231,0.768144,0.400602,0.754447,0.707255,3,5,2012,...,1,1,-1,1,-1,JohnsHopkins,1,0,-1,0.308540
7,APLENC53P6,0.801889,0.206231,0.768144,0.400602,0.754447,0.707255,3,5,2012,...,1,1,-1,1,-1,NotreDame,0,0,-1,0.832230
8,APLENC53P6,0.801889,0.206231,0.768144,0.400602,0.754447,0.707255,3,5,2012,...,1,1,-1,1,-1,Northwestern,1,0,0,0.753457
9,ARR8NLHKJW,0.811433,0.544119,0.257622,0.475218,0.795651,0.658477,5,4,2013,...,-1,1,-1,1,0,CalTech,0,0,-1,0.779100
10,ARR8NLHKJW,0.811433,0.544119,0.257622,0.475218,0.795651,0.658477,5,4,2013,...,-1,1,-1,1,0,UCLA,1,1,1,0.462263
11,ARR8NLHKJW,0.811433,0.544119,0.257622,0.475218,0.795651,0.658477,5,4,2013,...,-1,1,-1,1,0,Northwestern,0,-1,-1,0.767149
12,MDZ8EBLWGG,0.845619,0.190712,0.738601,0.929038,0.304668,0.672305,1,3,2012,...,-1,0,-1,-1,-1,Rice,1,0,-1,0.855454
13,MDZ8EBLWGG,0.845619,0.190712,0.738601,0.929038,0.304668,0.672305,1,3,2012,...,-1,0,-1,-1,-1,UChicago,-1,-1,1,0.452766
14,MDZ8EBLWGG,0.845619,0.190712,0.738601,0.929038,0.304668,0.672305,1,3,2012,...,-1,0,-1,-1,-1,NotreDame,0,1,-1,0.663733
15,0IMHORYXZ4,0.953349,0.220145,0.096051,0.296511,0.511960,0.949135,1,3,2020,...,0,0,-1,-1,-1,Harvard,0,1,1,0.720778
16,0IMHORYXZ4,0.953349,0.220145,0.096051,0.296511,0.511960,0.949135,1,3,2020,...,0,0,-1,-1,-1,CarnegieMellon,-1,1,-1,0.924204
17,0IMHORYXZ4,0.953349,0.220145,0.096051,0.296511,0.511960,0.949135,1,3,2020,...,0,0,-1,-1,-1,Emory,1,1,0,0.577101
18,5IXE2VLAV0,0.655043,0.178541,0.653152,0.589096,0.587569,0.655082,4,3,2018,...,0,1,0,0,-1,UChicago,1,0,1,0.089653
19,5IXE2VLAV0,0.655043,0.178541,0.653152,0.589096,0.587569,0.655082,4,3,2018,...,0,1,0,0,-1,UCB,-1,-1,-1,0.441222
20,5IXE2VLAV0,0.655043,0.178541,0.653152,0.589096,0.587569,0.655082,4,3,2018,...,0,1,0,0,-1,WashU,0,-1,0,0.683628
21,8VO2J9FVQN,0.345988,0.504925,0.869777,0.562342,0.117785,0.640290,2,4,2015,...,1,-1,0,1,-1,UCB,1,1,1,0.992283
22,8VO2J9FVQN,0.345988,0.504925,0.869777,0.562342,0.117785,0.640290,2,4,2015,...,1,-1,0,1,-1,Dartmouth,0,1,-1,0.007451
23,8VO2J9FVQN,0.345988,0.504925,0.869777,0.562342,0.117785,0.640290,2,4,2015,...,1,-1,0,1,-1,WashU,-1,0,1,0.855862
24,OUP7YKO5FR,0.114614,0.784382,0.383816,0.037581,0.648166,0.013183,1,2,2017,...,0,-1,1,0,0,Yale,0,1,1,0.664471
25,OUP7YKO5FR,0.114614,0.784382,0.383816,0.037581,0.648166,0.013183,1,2,2017,...,0,-1,1,0,0,Columbia,-1,1,-1,0.117510
26,XCF6MY6P5G,0.683323,0.458910,0.783342,0.219892,0.113095,0.101761,5,4,2013,...,1,1,1,1,0,Rice,0,-1,1,0.049638
27,XCF6MY6P5G,0.683323,0.458910,0.783342,0.219892,0.113095,0.101761,5,4,2013,...,1,1,1,1,0,Princeton,-1,1,1,0.560529
28,XCF6MY6P5G,0.683323,0.458910,0.783342,0.219892,0.113095,0.101761,5,4,2013,...,1,1,1,1,0,USC,0,-1,1,0.548366
29,XCF6MY6P5G,0.683323,0.458910,0.783342,0.219892,0.113095,0.101761,5,4,2013,...,1,1,1,1,0,MIT,1,-1,0,0.698292

Now the `applications` Pandas DataFrame is ready to use for either regression (by overwriting the acceptProb column) or building the public facing web site.

## Saving Scraped Data

First, let's start fresh and delete the previously created objects. This is only necessary because this sample script is running within Jupyter where all variables are global to the page. In a separate Python file run from the command line, this step can be skipped.

In [6]:
if ('students' in locals()): 
    students.cleanup()
    del students
if ('applications' in locals()): del applications
if ('applForm' in locals()): del applForm
if ('colleges' in locals()): del colleges

Let's create a new students instance. It will be an empty Pandas dataframe with the correct columns

In [7]:
students = ti.Student()
students.df

Empty DataFrame
Columns: [studentID, classrank, admissionstest, AP, averageAP, SATsubject, GPA, program, schooltype, intendedgradyear, canAfford, female, MinorityGender, MinorityRace, outofstate, international, firstinfamily, alumni, sports, artist, workexp]
Index: []

[0 rows x 21 columns]

Populate a dictionary with the values that the scraper has for a given row. Make sure the keys match up with the column names as only the matching columns will be saved. There is no need to add the studentID key. A unique value will be generated automatically.

In [8]:

# Example: international male who scored in 98th percentile in ACT/SAT, went to a public school and is applying for
# Class of 2020

newrow = {'admissionstest': 0.98,
         'GPA': 4.5,
         'female' : -1,
         'international': 1,
         'schooltype': -1,
         'intendgradyear':2020}

students.insert(newrow)
students.df

,AP,GPA,MinorityGender,MinorityRace,SATsubject,admissionstest,alumni,artist,averageAP,canAfford,...,firstinfamily,intendedgradyear,intendgradyear,international,outofstate,program,schooltype,sports,studentID,workexp
0,NaN,4.5,0,0,NaN,0.98,0,0,NaN,0,...,0,NaN,2020,1,0,NaN,-1,0,46G0Y07WIB,0

It is more efficient if multiple rows are added in one step. In this case, create a list of dictionaries and just
use the same method. Here, two new rows are added to the previous row.

In [9]:
rows = []
a = {'schooltype': -1, 'admissionstest': 0.98, 'GPA': 4.5, 'female': 1, 'intendgradyear': 2019, 'international': 0}
rows.append(a)
a = {'schooltype': 1, 'admissionstest': 0.65, 'GPA': 2.2, 'female': -1, 'intendgradyear': 2019, 'international': 0}
rows.append(a)
students.insert(rows)
students.df

,AP,GPA,MinorityGender,MinorityRace,SATsubject,admissionstest,alumni,artist,averageAP,canAfford,...,firstinfamily,intendedgradyear,intendgradyear,international,outofstate,program,schooltype,sports,studentID,workexp
0,NaN,4.5,0,0,NaN,0.98,0,0,NaN,0,...,0,NaN,2020,1,0,NaN,-1,0,46G0Y07WIB,0
0,NaN,4.5,0,0,NaN,0.98,0,0,NaN,0,...,0,NaN,2019,0,0,NaN,-1,0,ZOH7R52IFA,0
1,NaN,2.2,0,0,NaN,0.65,0,0,NaN,0,...,0,NaN,2019,0,0,NaN,1,0,O4XKI4UNE4,0

In [10]:
collist = ['foo', 'bar','moose']
otherlist = ['dog','cat']
t = collist + otherlist
t

['foo', 'bar', 'moose', 'dog', 'cat']